/*
Design by Sasha Nicolas
The Attic - College of IS&T
University of Nebraska
May 9th, 2013
*/

/* basics */
body{
    background-color: #E5E6DD;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
}
li {
    display: inline-block;
}
ul {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/* Header */
#header {
    text-align: center;
}

/* Menu */
#menu {
    background: #3C342E;
    color: white;
    height: 52px;
    font-family: 'Oswald', sans-serif;
}

#menu a {
    display: block;
    text-transform: uppercase;
    color: white;
    padding: 0px 20px;
    line-height: 52px;
    text-decoration: none;
}
#menu a:hover, #menu .current_page_item a {
    background: #DE5635;
}

/* Main-content */
#msg {
    background: khaki;
    border: 2px solid gold;
    padding: 10px;
    margin: 10px 50px;
    text-align: center;
}
#page-content {

}
#one-column {
    padding: 10px;
    color: white;
}
#one-column .horizontal-box{
    margin: 10px  10px  10px  10px;
    padding: 10px  10px  10px  10px;
    background: #3C342E;
    text-align: left;
}
#one-column a {
    display: block;
    text-transform: uppercase;
    color: white;
    padding: 0px 10px;
    text-decoration: none;
}
#three-column {
    padding: 10px;
    color: white;
}
#three-column .vertical-box{
    margin: 10px  10px  10px  10px;
    padding: 10px  10px  10px  10px;
    background: #3C342E;
    text-align: left;
}
#three-column .vertical-poster{
    text-align: center;
}
#three-column h2{
    border-bottom: 1px solid #DE5635;
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    font-weight: 100;
}
#add-movie {
    padding: 30px;
    background: #3C342E;
    margin: 30px;
    color: white;
    text-align: left;

}

/* Footer */
#footer {

}